body > *, #root > * {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Hylia Serif Beta';
  src: url('assets/HyliaSerifBeta-Regular.otf') format ('opentype');
}

h1, h2  {
  font-family: 'Hylia Serif Beta', serif;
}

h3, h4, h5, h6 {
  font-family: 'Open Sans', serif;
  color:#564B0F;
}

p {
  font-family: 'Open Sans', serif;
  font-style: italic;
  color:#564B0F;
}

.carousel-box {
  background-color: black;
  width: 100%;
  height: 400px;  /* You can adjust this value based on your needs */
  margin: 0 auto;
}

.background-image {
  background-image: url('assets/seamless-bg.png');
  background-color: black;
  background-repeat: repeat;
  height: 100vh;
  background-size: auto;
}

.ingredient-image {
  width: 50px;  /* or any size you want */
  height: auto;
}

.recipe-image {
  width: 70px;  /* or any size you want */
  height: auto;
}
/* .border-img {
  border: 10px solid transparent;
  border-image: url('../assets/border-image.png') 30 round; /* replace with the actual path to your image */
  /* border-image-outset: 2px; */
/* } */

.navbar {
  /* background-image: url('./assets/navbar-fretwork.png'); */
  background-repeat: repeat-x;
  background-position: bottom;
  height: 22vmin;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.bg-custom-image {
  background-image: url('assets/seamless-bg.png')
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
